<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>416647339946-rrjtr8rgl3r5fgtdam9ms3slu91snflm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.416647339946-rrjtr8rgl3r5fgtdam9ms3slu91snflm</string>
	<key>API_KEY</key>
	<string>AIzaSyBuKomYEqhbFRtOZWQcNOMrDyUd_XFAAvU</string>
	<key>GCM_SENDER_ID</key>
	<string>416647339946</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.flutterexplained.community-app</string>
	<key>PROJECT_ID</key>
	<string>flutter-explained-community</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-explained-community.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:416647339946:ios:7a555c9101c8b460c9d5d3</string>
</dict>
</plist>